# --- Android Studio / IntelliJ ---
.idea/
*.iml
.gradle
local.properties

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Arquivos de Build e Compilação (Multi-módulo) ---
**/build/
*.class
*.jar
*.aar
*.bak
.externalNativeBuild
.cxx
captures/

# --- Produção e Releases Locais ---
/app/release/

# --- Arquivos Confidenciais e Testes Locais (Segurança) ---
client_secrets.json
calendar_events.txt
keystore.properties
